@font-face {
  font-family: 'Mosk Ultra-Bold 900';
  src: url('Mosk Ultra-Bold 900.eot');
  src: url('Mosk Ultra-Bold 900.eot?#iefix') format('embedded-opentype'),
       url('Mosk Ultra-Bold 900.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MoskUltra-Bold900';
  src: url('MoskUltra-Bold900.svg#MoskUltra-Bold900') format('svg'),
       url('MoskUltra-Bold900.ttf') format('truetype'),
       url('MoskUltra-Bold900.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

